.todoitem {
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  gap:10px;
  align-items: stretch;
  border:1px black solid;
}


.todoitem:hover {
  box-shadow: 0 0 3px black;
}

.todoitem .titleInput, .todoitem .title{
  flex-grow: 1;
}

.todoitem .title{
  text-align: center;
}

.todoitem .titleInput{
  min-width: 0;
}