body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: lightblue;
  --color-secondary: lightcoral;

  --height-header: 50px;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-primary);
}

.btn--delete {
  background-color: var(--color-secondary);
}
