html{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    text-align: center;
}

.todo__container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap:20px;
    width: fit-content;

}

.form{
    display: flex;
    gap:10px;
    flex-direction: row;
}
.todo-list{
    display: flex;
    list-style-type: none;
    padding:10px;
    flex-direction: column;
    gap:10px;
    border: 1px black solid;
    border-radius: 5px;
    align-items: stretch;
    min-height: 250px;
}

.todo-list li{
    border: 1px black solid;
    border-radius: 5px;
    padding:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

